MainAppUI {
        align: center middle;
        width: 100%;
        height: 100%;
        overflow: auto;
    }    
.horizontal-container {
    width: 1fr; /* Ocupa todo el ancho disponible */
    height: 40;
    border: #ffffff round;
}

.select-container {
    width: 1fr; /* Ocupa todo el ancho disponible */
    height: 1fr;
}
.button-row {

    align: center middle;
}

.main-details-vertical {
    width: 1fr; /* Ocupa todo el ancho disponible */
    height: 40;
    padding: 2 4 2 4;
    margin: 0 0 0 0;
    align: center middle;
}

.details-container {
    width: 1fr;       /* Ocupa todo el ancho disponible */
    height: 6;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    align: left middle;
}

.server-details-container {
    height: 8; /* Ocupa todo el ancho disponible */
    border:#ffffff round;
}

.select-server-container {
    width: 1fr; /* Ocupa todo el ancho disponible */
    height: 5;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border:#ffffff round;
}

.select-client-container {
    width: 1fr; /* Ocupa todo el ancho disponible */
    height: 5;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border:#ffffff round;
}
.server-client-select-container {
    width: 1fr; /* Ocupa todo el ancho disponible */
    height: 20;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.value-label {
    text-style: bold;  /* Opcional, quitar si se ve muy cargado */
    padding: 0;        /* Sin padding extra, field-label ya da separación a su derecha */
    text-align: left;
     /* Ocupa el resto del espacio en el Horizontal */
    /*height: 1;         /* Asegurar altura 1 */
}

.ListHorizontal {
    width: 100%; /* Make the main horizontal container take full width */
    height: 1; /* Make the main horizontal container take full height */
    text-style: bold;
}
.port_label {
    text-align: right;
    min-width: 15;
    max-width: 15;
}
.header-box {
    margin: 0 0 0 3;
    text-align: left;
}
.main-container {
    align: center middle;
    width: 120;
    height: 50;
    max-width: 120;
    min-width: 120;
    max-height: 50;
    min-height: 50;
}
.server-btn {
    width: 15;
    height: 6;
    align:right middle;
}

Add_edit_client, Add_edit_server {
    align: center middle;
}

.list-btn {
    align: center middle;
}


#Add_edit_client {
    grid-size: 1;
    grid-rows: 1fr;
    width: 90;
    height: 35;
    border: thick rgb(255, 255, 255) 20%;
    background: $surface;
}
.label_edit_client {
    text-style: bold;
    padding: 1;
    width: 15;
    align: right middle;
    text-align: right;
}
.input_edit_client {
    width: 1fr;
}
.edit_client_keys {
    width:10;
    height: 3;
    padding: 0;
    margin: 0;
}
